{% load static %}
    {% include 'navbar.html' %}
    <br><br><br><br>

        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">درباره ما</h2>
                    <h3 class="section-subheading text-muted">داستان ما رو بشنوید</h3>
                </div>
                <ul class="timeline">
                    <li>
                  <img class="rounded-circle img-fluid" src="{% static 'images/mb.jpg' %}" alt="..." style="width:350px; height:350px; object-fit:cover;" />                        <div class="timeline-panel">

                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">شروع یادگیری1403</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">من زینب قدمیاری کارشناسی مهندسی نرم افزار در زمینه ی طراحی سایت با پایتون و جنگو فعالیت دارم</p></div>
                        </div>
                    </li>
                    <ul class="timeline">
                    <li>
                  <img class="rounded-circle img-fluid" src="{% static 'images/nn.jpg' %}" alt="..." style="width:350px; height:350px; object-fit:cover;" />                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">مدرک معتبرIRQC</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">  دوره آموزشی رو در آکادمی استاد محسن مدحج گذروندم یکی از بهترین دوره هایی با پشتیانی و بی نظیر</p></div>
                        </div>
                    </li>
                    <li>
                  <img class="rounded-circle img-fluid" src="{% static 'images/mm.jpg' %}" alt="..." style="width:300px; height:300px; object-fit:cover;" />                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2024</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">  برنامه نویسی یکی از لذت بخش ترین کارایی که هر روزه انجام میدم</p></div>
                        </div>
                    </li>
                    <li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2020</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>