{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%  static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top" dir="rtl">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">       
                 <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="{% static 'assets/img/navbar-logo.svg' %}" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                
                 <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

                        
                        {% if messages %}
                           {% for message in messages %}
                         <div class="alert alert-danger" role="alert" id="alert-message" style="font-size: 1rem;">
                            {{ message }}
                         </div>
                           {% endfor %}
                           <script>
                                setTimeout(function() {
                                    var element = document.getElementById('alert-message');
                                    if (element) {
                                        element.style.display = 'none';
                                    }
                                }, 1000); 
                            </script>
                        {% endif %}
                                

                        <li class="nav-item"><a class="nav-link" href="/">صفحه اصلی </a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">خروج</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ورود</a></li>
                        {% endif %}


                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                نمونه کار
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                               
                                <li><a class="dropdown-item" href="/"> همه نمونه کارها</a></li>

                                <li><a class="dropdown-item" href=" {% url  'category' 'python' %}"> پایتون</a></li>
                                <li><a class="dropdown-item" href=" {% url  'category' 'سایت فروشگاهی' %} ">سایت فروشگاهی</a></li>
                            </ul>
                            </li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">درباره ما</a></li>

                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">تماس با ما</a></li>
                    </ul>
                </div>
            </div>
        </nav>
               

        <!-- Masthead-->
       
        <!-- Services-->
       
        <!-- Portfolio Grid-->
        